.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') User Test
    .navbar-collapse.collapse
      if (!user)
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/signup') Signup
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login
      else
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/account') Account
          li
            a(href='/account/settings') Settings
          li
            a(href='/logout') Logout